<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>NgVAS - AngularJS Visual Analog Scale (VAS)</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angularjs-color-picker/angularjs-color-picker.css" />
  <link rel="stylesheet" href="bower_components/angular-dropdowns/dist/angular-dropdowns.css" />
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.css" />
  <link rel="stylesheet" href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.ie.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="ngVasApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
          <a href="https://github.com/redpandatronicsuk/NgVAS">Fork me on GitHub</a>
        </div>
      </div>

      <div class="header">
      </div>

      <div class="container">
        <div class="jumbotron">
          <h1>NgVAS</h1>
          <p class="lead">
            <ng-include id="svg-logo" src="'images/NgVasLogo.svg'"></ng-include><br>
            Angular directive for a Visual Analog Scale (VAS)
          </p>
        </div>

        <div class="row marketing">
          <h2>Description</h2>
          <p>
            NgVAS is a Visual Analog Scale (VAS) Angular directive. VAS can be used to collect responses
            from users on a continous scale. HCI research has shown that the VAS have superior accuracy
            than using sliders as the VAS is not being biased by having a starting postion [<a target="_blank" href="http://ssc.sagepub.com/content/early/2015/03/09/0894439315575477.full.pdf+html?hwshib2=authn%3A1433670496%3A20150606%253A441d4127-c181-42c1-b8a6-e919f07d60b3%3A0%3A0%3A0%3ACL5SZqZfv9qpG4RizAS53A%3D%3D">Funke 2015</a>].
          </p>

          <p>
            There have also been studies comparing continous scales (e.g. sliders and VAS) and categorical scales, such as radio boxes [<a target="_blank" href="http://cat.inist.fr/?aModele=afficheN&cpsidt=1056420">Cook 2001</a>]. VAS are widely used by medical reserchers to get pain feedbacks from their patients [<a target="_blank" href="https://scholar.google.co.uk/scholar?hl=en&q=Visual+Analog+Scale">google scholar</a>].
          </p>

          <h2>Install</h2>
          <p>
            bower...
          </p>

          <h2>Parameters</h2>
          <p>
            <dl>
              <dt>width</dt>
              <dd>the width of the VAS (default: <strong>100%</strong>)</dd>
              <dt>height</dt>
              <dd>the height of the VAS (default: <strong>40px</strong>)</dd>
              <dt>line-height</dt>
              <dd>the height of the clickable/draggable horizontal line in center of the VAS. NOTE: <em>decimal values can be used, e.g 0.25</em> (default: <strong>3</strong>)</dd>
              <dt>marker-type</dt>
              <dd>the marker type used to display the selected value, valid values: <em>cross, line, point, arrow-up, arrow-down, arrow-left, arrow-right</em> (default: <strong>cross</strong>)</dd>
              <dt>marker-color</dt>
              <dd>the color of the marker. NOTE: <em>this is for convinience, the color can also be set with css: <code>.vas-mark {stroke: ...}</code></em> (default: <strong>blue</strong>)</dd>
              <dt>min</dt>
              <dd>the value on the left extrema of the VAS (default: <strong>0</strong>)</dd>
              <dt>max</dt>
              <dd>the value on the right extrema of the VAS (default: <strong>100</strong>)</dd>
              <dt>cm-length</dt>
              <dd>variable to store the click length converted to centimeters in. This may be useful to correct for biases caused by different screen sizes. NOTE: <em>This is only an approximation. We looked for ways to convert pixels to centimeter values (http://stackoverflow.com/questions/1341930/pixel-to-centimeter, http://stackoverflow.com/questions/279749/detecting-the-system-dpi-ppi-from-js-css, ...) and the best we found was this: http://stackoverflow.com/questions/10794891/getting-height-of-a-div-in-centimeter-using-jquery. We measured the actual length in centimeters with a ruler and they didn't completely match. However, we also measured a box like <code>&lt;div style="background:black;heigth:1cm;width:10cm;"&gt&lt;/div&gt;;</code> and it is not 10cm wide when measured with a ruler. Please leave a comment below if you know a better solution!</em></dd>
            </dl>
          </p>

          <h2>Example</h2>
          <h3>Simple</h3>
          <p>
            To use NgVAS with the default parameters simply include the <em>ng-vas</em> tag in your HTML,
            where you want the VAS to appear: <pre><code>&lt;ng-vas ng-model="vas1"&gt;&lt;/ng-vas&gt; {<i></i>{vas1 | number:2}<i></i>}</code></pre>
          </p>
          <p>
            <ng-vas ng-model="vas1"></ng-vas>{{vas1 | number:2}}
          </p>
          <p>
            By default the scale will be on a range from 0 to 100, the only parameter that needs to be specified is <em>ng-model</em>. The default width is 100%, so it will span the entire width of the parent container. Width and other parametes can be specified, as can is shown in the next section.
          </p>
          <h3>Attributes and Styling</h3>
          <p>
            You can set the height and width as attributes: <pre><code>&lt;ng-vas ng-model="vas2" width="200px" height="50px"&gt;&lt;/ng-vas&gt;</code></pre>
          </p>
          <p>
            <ng-vas ng-model="vas2" width="200px" height="75px"></ng-vas>
          </p>
          <p>
            NgVAS was designed for data collection only. As labels on the sides of the scale and displaying feedback (such as the numerical value of the marker postion), can bias the user, we have ommitted these in NgVAS, but if you would like such functionallity you can easily implement it yourself in HTML, such as in this example:
          </p>
          <div class="vas-grid">
            <div class="min-label">Min-label</div>
            <ng-vas line-height="1" width="100%" marker-type="cross" ng-model="testModel2" min="50" max="175"></ng-vas>
            <div class="max-label">Max-label</div>
          </div>
          <div style="text-align: center;" class="output">{{testModel2 | number:2}}</div>
        </div>
        <p>
          Below you can find a tool to customise VAS for your Angular application. Customise the parameters and then simply
          paste the code into your Angular application.
        </p>
        <h2>Customise</h2>
        <div class="form-inline">
          <div class="form-group">
            ID:
            <input class="form-control" ng-model="customID" />
          </div>
          <div class="form-group">
            ng-model:
            <input class="form-control" ng-model="customModel" />
          </div>
          <div class="form-group">
            Width:
            <input class="form-control" ng-model="width" />
          </div>
          <div class="form-group">
            Height:
            <input class="form-control" ng-model="height" />
          </div>
          <div class="form-group">
            Padding:
            <input class="form-control" ng-model="padding" />
          </div>
          <div class="form-group">
            Border-radius:
            <input class="form-control" ng-model="borderRadius" />
          </div>
          <div class="form-group">
            Line-Height:
            <input class="form-control" ng-model="lineHeight" />
          </div>
          <div class="form-group">
            Show labels:
            <input type="checkbox" class="form-control" ng-model="withLabels" />
          </div>
          <div class="form-group">
            Show feedback:
            <input type="checkbox" class="form-control" ng-model="showFeedback" />
          </div>
          <div class="form-group">
            <div dropdown-select="ddSelectOptions"
            dropdown-model="ddSelectSelected"
            dropdown-onchange="updateCustom(selected)" >
          </div>
        </div>
        <div ng-show="withLabels" class="form-group">
          Min-label:
          <input class="form-control" ng-model="minLabel" />
        </div>
        <div ng-show="withLabels" class="form-group">
          Max-label:
          <input class="form-control" ng-model="maxLabel" />
        </div>
        <div class="form-group">
          Min:
          <input class="form-control" type="number" ng-model="min" />
        </div>
        <div class="form-group">
          Max:
          <input class="form-control" type="number" ng-model="max" />
        </div>
        <div class="form-group">
          Precision:
          <input class="form-control" type="number" ng-model="precision" />
        </div>
      </div>
      Background-color (before value set):
      <color-picker ng-model="initialColor" ></color-picker>

      Background-color (after value set):
      <color-picker ng-model="clickedColor" ></color-picker>

      Background-color (dragging):
      <color-picker ng-model="draggingColor" ></color-picker>

      Marker-color:
      <color-picker ng-model="markerColor" ></color-picker>

      <button class="btn btn-success" style="width:100%;margin-top:10px;margin-bottom:10px;" ng-click="updateCustom();showOutput=true;">{{showOutput ? 'update' : 'show'}}</button>

      <style>
        #{{customID}} {
          background: {{initialColor}};
          transition: background .3s;
          padding-left: {{padding}};
          padding-right: {{padding}};
          border-radius: {{borderRadius}};
        }

        #{{customID}}.clicked.dragging {
          background: {{draggingColor}};
        }

        #{{customID}}.clicked {
          background: {{clickedColor}};
        }
      </style>
      <div ng-show="showOutput">
        <h4>Result:</h4>
        <div id="custom-output"></div>

        <h4>Custom style:</h4>
        <div id="custom-style">
          <pre><code>&lt;style&gt;
            #{{customID}} {
            background: {{initialColor}};
            transition: background .3s;
          }

          #{{customID}}.dragging {
          background: {{draggingColor}};
        }

        #{{customID}}.clicked {
        background: {{clickedColor}};
      }
      // Marker color can be set attribute or overwitten with css:
      #{{customID}} .vas-mark {
      stroke: {{markerColor}};
    }
    &lt;/style&gt;</code></pre>
  </div>

  <h4>Custom code: <small>(click update button for changes to take effect)</small></h4>
  <div id="custom-code">
    <pre><code>{{customCodeDisplay}}</code></pre>
  </div>
</div>
</div>

<div class="footer">
  <div class="container">
    <p class="legal">
      <a href="http://www.freepik.com/free-photos-vectors/hand">Hand vector designed by Freepik</a>
    </p>
    <p><span class="glyphicon glyphicon-heart"></span> from RedPandaTronics</p>
  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
 !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
   (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
   r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
 }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-XXXXX-X');
 ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/hammerjs/hammer.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angularjs-color-picker/angularjs-color-picker.js"></script>
<script src="bower_components/angular-dropdowns/dist/angular-dropdowns.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<!-- endbower -->
<script src="bower_components/tinycolor/tinycolor.js"></script>
<script src="bower_components/angularjs-color-picker/angularjs-color-picker.min.js"></script>
<script src="bower_components/angular-dropdowns/angular-dropdowns.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/directives/ngvas.js"></script>
<!-- endbuild -->
</body>
</html>
